* {
    margin: 0;
    padding:0; 
}

header{
     background-color: blue;
     color: green;
}

button{
    float: right;
    margin-top: -80px;
    margin-right: 40px;
    background-color: firebrick;
    color: green;
    padding: 15px;
    cursor: pointer;

}

button:hover{
    background-color: rebeccapurple;
}

.content{
    margin:40px auto;
    width: 30%;
    
    
}
.content p{
    font-size: 30px;
    color: palegoldenrod;
    text-transform: uppercase;
    text-decoration: underline;

}

.content ol{
    line-height: 35px;

}

img{
    width: 100px;
    height: 150px;
    margin-left: 45%;
    /* float: right;
     */
}